xsd/assignmentSept15.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="https://www.w3schools.com"
xmlns="https://www.w3schools.com"
elementFormDefault="qualified">

<xs:element name="TU">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Employee">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Post">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="5"></xs:minLength>
                  <xs:maxLength value="8"></xs:maxLength>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="Salary" type="xs:int"></xs:element>
            <xs:element name="Gender">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="Male"></xs:enumeration>
                  <xs:enumeration value="Female"></xs:enumeration>
                  <xs:enumeration value="Others"></xs:enumeration>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="Username">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="8"></xs:maxLength>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="Password">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:length value="8"></xs:length>
                  <xs:pattern value="[A-Za-z.*]"></xs:pattern>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
 




  </xs:complexType>






</xs:element>
</xs:schema>
